<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BMPInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BMPInterface.Properties.Settings>
      <setting name="defaultBroker" serializeAs="String">
        <value>activemq:tcp://localhost:61616</value>
      </setting>
      <setting name="defaultClientID" serializeAs="String">
        <value>BMP.SA.DefaultConsumer</value>
      </setting>
      <setting name="topTopicName" serializeAs="String">
        <value>SA.TOP</value>
      </setting>
      <setting name="pillarTopicName" serializeAs="String">
        <value>SA.PILLAR</value>
      </setting>
      <setting name="clientTopicName" serializeAs="String">
        <value>SA.CLIENT</value>
      </setting>
      <setting name="BMPMessageType" serializeAs="String">
        <value>org.bitrepository.messages.type</value>
      </setting>
    </BMPInterface.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS.ActiveMQ" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.4.2655" newVersion="1.5.4.2655" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>