<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="taskPillar.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PillarAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TaskPillar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TaskPillar.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="taskPillar.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <taskPillar.Settings>
      <setting name="GENERAL_TOPIC_QUEUE" serializeAs="String">
        <value>integrationtest1</value>
      </setting>
      <setting name="SA_PILLAR_QUEUE" serializeAs="String">
        <value>SA_pillar</value>
      </setting>
      <setting name="BROKER" serializeAs="String">
        <value>tcp://int-bitmag-01.kb.dk:60001</value>
      </setting>
      <setting name="PILLAR_ID" serializeAs="String">
        <value>SA_testPillar</value>
      </setting>
      <setting name="GENERAL_TOPIC_SUBSCRIBER" serializeAs="String">
        <value>general_topic_subscriber</value>
      </setting>
      <setting name="SA_TOPIC_SUBSCRIBER" serializeAs="String">
        <value>SA_topic_subscriber</value>
      </setting>
      <setting name="SA_TOPIC_QUEUE" serializeAs="String">
        <value>SA_topic_queue</value>
      </setting>
      <setting name="SQLITE_CONNECTION_STRING" serializeAs="String">
        <value>@"Data Source=D:\testFiler\sa_bmpDB.db3"</value>
      </setting>
      <setting name="BROKER_LOCAL" serializeAs="String">
        <value>ssl://JKM-win7monster:61616</value>
      </setting>
      <setting name="GENERAL_TOPIC_QUEUE_LOCAL" serializeAs="String">
        <value>general_topic_queue</value>
      </setting>
      <setting name="COLLECTION_DIRECTORY" serializeAs="String">
        <value>D:\collectionFiles\</value>
      </setting>
    </taskPillar.Settings>
    <add key="log4net.Internal.Debug" value="true" />
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <PillarAPI.Properties.Settings>
      <setting name="SA_PILLAR_QUEUE" serializeAs="String">
        <value>queue://sa_pillar_queue</value>
      </setting>
      <setting name="MESSAGE_BUS_CONFIGURATION_URL" serializeAs="String">
        <value>ssl://217.198.211.150:61616?transport.clientcertfilename=D:/Downloads/Apache/apache-activemq-5.5.1/conf/client.cer&amp;transport.acceptInvalidBrokerCert=true</value>
      </setting>
      <setting name="PILLAR_ID" serializeAs="String">
        <value>kbpillar2</value>
      </setting>
      <setting name="GENERAL_TOPIC_SUBSCRIBER" serializeAs="String">
        <value>general_topic_subscriber</value>
      </setting>
      <setting name="SA_QUEUE_SUBSCRIBER" serializeAs="String">
        <value>sa_topic_subscriber</value>
      </setting>
      <setting name="SQLITE_CONNECTION_STRING" serializeAs="String">
        <value>Data Source=D:\Udvikling\bmpSQLite.s3db;Version=3;LockingMode=Exclusive;Pooling=True;MaxPoolSize=200;</value>
      </setting>
      <setting name="COLLECTION_DESTINATION" serializeAs="String">
        <value>topic://integrationtest1</value>
      </setting>
      <setting name="COLLECTION_FILE_DIRECTORY" serializeAs="String">
        <value>D:\collectionFiles\</value>
      </setting>
      <setting name="MESSAGE_XSD_FILE_PATH" serializeAs="String">
        <value>D:\Udvikling\Kode\xsdFiles\bitrepository-message-xml-24\xsd\BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="XSD_VERSION" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="MIN_MESSAGE_XSD_VERSION" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="DEFAULT_CHECKSUM_TYPE" serializeAs="String">
        <value>MD5</value>
      </setting>
      <setting name="ALLOWED_FILE_ID_PATTERN" serializeAs="String">
        <value>@"^[a-zA-Z_\.\-0-9]+$"</value>
      </setting>
      <setting name="REQUERED_MESSAGE_AUTHENTICATION" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REQUERED_OPERATION_AUTHENTICATION" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REQUERED_CHECKSUM_FOR_DESTRUCTIVE_REQUESTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REQUERED_CHECKSUM_FOR_NEW_FILE_REQUEST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ALARM_DESTINATION" serializeAs="String">
        <value>topic://sa-test.alarms</value>
      </setting>
      <setting name="CONTRIBUTOR_ID" serializeAs="String">
        <value>sa-test-pillar</value>
      </setting>
      <setting name="COLLECTION_ID" serializeAs="String">
        <value>integrationtest1</value>
      </setting>
      <setting name="COLLECTION_SETTINGS_VERSION" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="COLLECTION_SETTINGS_XML_FILE_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="COLLECTION_SETTINGS_XSD_FILE_PATH" serializeAs="String">
        <value>C:\Udvikling\Kode\TestTing\xsdFiles\bitrepository-collection-settings-0.9\xsd</value>
      </setting>
      <setting name="XML_NAMESPACE" serializeAs="String">
        <value>http://bitrepository.org/BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="PRIVATE_CERTIFICATE_THUMBPRINT" serializeAs="String">
        <value>B60843F8A3BFBD2944EAF9043D9C2443B936A981</value>
      </setting>
      <setting name="USER_CERTIFICATES_STORE" serializeAs="String">
        <value>Root</value>
      </setting>
      <setting name="PUBLIC_CERTIFICATE_THUMBPRINT" serializeAs="String">
        <value>B60843F8A3BFBD2944EAF9043D9C2443B936A981</value>
      </setting>
      <setting name="DRIVES4STORAGE" serializeAs="String">
        <value>U:</value>
      </setting>
      <setting name="WEBDAV_BASEFOLDERNAME" serializeAs="String">
        <value>dav</value>
      </setting>
      <setting name="WEBDAV_CLIENT_CERTIFICATE_THUMBPRINT" serializeAs="String">
        <value>147cafe2c7d0b07d3a61653977a87ff7fe91f5c6</value>
      </setting>
      <setting name="WEBDAV_IP_ADDRESS" serializeAs="String">
        <value>217.198.211.150</value>
      </setting>
      <setting name="WEBDAV_HTTP_PORT" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="WEBDAV_URI_SCHEME" serializeAs="String">
        <value>HTTPS</value>
      </setting>
    </PillarAPI.Properties.Settings>
    <TaskPillar.Properties.Settings>
      <setting name="SA_PILLAR_QUEUE" serializeAs="String">
        <value>queue://sa_pillar_queue</value>
      </setting>
      <setting name="MESSAGE_BUS_CONFIGURATION_URL" serializeAs="String">
        <value>ssl://localhost:61616?transport.clientcertfilename=D:/Downloads/Apache/apache-activemq-5.5.1/conf/client.cer&amp;transport.acceptInvalidBrokerCert=true</value>
      </setting>
      <setting name="PILLAR_ID" serializeAs="String">
        <value>kbpillar2</value>
      </setting>
      <setting name="GENERAL_TOPIC_SUBSCRIBER" serializeAs="String">
        <value>general_topic_subscriber</value>
      </setting>
      <setting name="SA_QUEUE_SUBSCRIBER" serializeAs="String">
        <value>sa_topic_subscriber</value>
      </setting>
      <setting name="SQLITE_CONNECTION_STRING" serializeAs="String">
        <value>Data Source=D:\Udvikling\bmpSQLite.s3db;Version=3;Pooling=True;MaxPoolSize=200;</value>
      </setting>
      <setting name="COLLECTION_DESTINATION" serializeAs="String">
        <value>topic://integrationtest1</value>
      </setting>
      <setting name="COLLECTION_FILE_DIRECTORY" serializeAs="String">
        <value>D:\collectionFiles\</value>
      </setting>
      <setting name="MESSAGE_XSD_FILE_PATH" serializeAs="String">
        <value>D:\Udvikling\Kode\xsdFiles\bitrepository-message-xml-24\xsd\BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="XSD_VERSION" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="MIN_MESSAGE_XSD_VERSION" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="DEFAULT_CHECKSUM_TYPE" serializeAs="String">
        <value>MD5</value>
      </setting>
      <setting name="ALLOWED_FILE_ID_PATTERN" serializeAs="String">
        <value>@"^[a-zA-Z_\.\-0-9]+$"</value>
      </setting>
      <setting name="REQUERED_MESSAGE_AUTHENTICATION" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REQUERED_OPERATION_AUTHENTICATION" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REQUERED_CHECKSUM_FOR_DESTRUCTIVE_REQUESTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REQUERED_CHECKSUM_FOR_NEW_FILE_REQUEST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ALARM_DESTINATION" serializeAs="String">
        <value>topic://sa-test.alarms</value>
      </setting>
      <setting name="CONTRIBUTOR_ID" serializeAs="String">
        <value>sa-test-pillar</value>
      </setting>
      <setting name="COLLECTION_ID" serializeAs="String">
        <value>integrationtest1</value>
      </setting>
      <setting name="COLLECTION_SETTINGS_VERSION" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="COLLECTION_SETTINGS_XML_FILE_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="COLLECTION_SETTINGS_XSD_FILE_PATH" serializeAs="String">
        <value>C:\Udvikling\Kode\TestTing\xsdFiles\bitrepository-collection-settings-0.9\xsd</value>
      </setting>
      <setting name="XML_NAMESPACE" serializeAs="String">
        <value>http://bitrepository.org/BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="PRIVATE_CERTIFICATE_THUMBPRINT" serializeAs="String">
        <value>B60843F8A3BFBD2944EAF9043D9C2443B936A981</value>
      </setting>
      <setting name="USER_CERTIFICATES_STORE" serializeAs="String">
        <value>Root</value>
      </setting>
      <setting name="PUBLIC_CERTIFICATE_THUMBPRINT" serializeAs="String">
        <value>B60843F8A3BFBD2944EAF9043D9C2443B936A981</value>
      </setting>
      <setting name="DRIVES4STORAGE" serializeAs="String">
        <value>U:</value>
      </setting>
      <setting name="WEBDAV_BASEFOLDERNAME" serializeAs="String">
        <value>dav</value>
      </setting>
      <setting name="WEBDAV_CLIENT_CERTIFICATE_THUMBPRINT" serializeAs="String">
        <value>147cafe2c7d0b07d3a61653977a87ff7fe91f5c6</value>
      </setting>
      <setting name="WEBDAV_IP_ADDRESS" serializeAs="String">
        <value>217.198.211.150</value>
      </setting>
      <setting name="WEBDAV_HTTP_PORT" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="WEBDAV_URI_SCHEME" serializeAs="String">
        <value>HTTPS</value>
      </setting>
    </TaskPillar.Properties.Settings>
    <TaskPillar.Settings>
      <setting name="SA_PILLAR_QUEUE" serializeAs="String">
        <value>queue://sa_pillar_queue</value>
      </setting>
      <setting name="BROKERS" serializeAs="String">
        <value>tcp://int-bitmag-01.kb.dk:60001</value>
      </setting>
      <setting name="PILLAR_ID" serializeAs="String">
        <value>sa-test-pillar</value>
      </setting>
      <setting name="GENERAL_TOPIC_SUBSCRIBER" serializeAs="String">
        <value>general_topic_subscriber</value>
      </setting>
      <setting name="SA_TOPIC_SUBSCRIBER" serializeAs="String">
        <value>sa_topic_subscriber</value>
      </setting>
      <setting name="SQLITE_CONNECTION_STRING" serializeAs="String">
        <value>Data Source=C:\Udvikling\bmpSQLite.s3db</value>
      </setting>
      <setting name="BROKER_LOCAL" serializeAs="String">
        <value>ssl://JKM-win7monster:61616</value>
      </setting>
      <setting name="GENERAL_TOPIC_QUEUE" serializeAs="String">
        <value>topic://sa-test</value>
      </setting>
      <setting name="COLLECTION_DIRECTORY" serializeAs="String">
        <value>C:\collectionFiles\</value>
      </setting>
      <setting name="XSD_FILE_PATH" serializeAs="String">
        <value>C:\Udvikling\Kode\TestTing\xsdFiles\BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="XSD_VERSION" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="MIN_VERSION" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFAULT_CHECKSUM_ALGORITHM" serializeAs="String">
        <value>SHA1</value>
      </setting>
    </TaskPillar.Settings>
    <taskPillar.Settings>
      <setting name="XSD_FILE_PATH" serializeAs="String">
        <value>D:\Kode\TestTing\xsdFiles\BitRepositoryElements.xsd</value>
      </setting>
    </taskPillar.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.3061" newVersion="1.6.0.3061" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
